<div class="fs-person-vitals">
  <div fs-add-wrapper-if="person.id" title="{{person.name || lang.UNKNOWN_NAME}}\n{{person.lifeSpan}}{{(person.lifeSpan && person.id) ? ' • ' : ''}}{{person.id}}">
    <div class="fs-person-vitals__name {{ (person.nameConclusion.details.style ? 'fs-person-vitals__name--'+person.nameConclusion.details.style : '') | lowercase}}">
      <a href="#view=ancestor&person={{person.id}}" class="fs-person-vitals__link" fs-add-wrapper-if="options.openPersonCard" data-cmd="openPersonCard" data-cmd-data=\'{"id": "{{person.id}}", "name": "{{person.name}}", "gender": "{{person.gender}}"}\'>
        <span class="fs-person-vitals__name--split" ng-if="person.nameConclusion.details.nameForms">
          <span class="fs-person-vitals__name-given" ng-bind-html="person.nameConclusion.details.nameForms[0].givenPart" data-test="given-name"></span><br>
          <span class="fs-person-vitals__name-family" ng-bind-html="person.nameConclusion.details.nameForms[0].familyPart" data-test="family-name"></span>
        </span>
        <span class="fs-person-vitals__name-full" ng-bind-html="person.name || (person.id ? lang.UNKNOWN_NAME : '')" data-test="full-name"></span>
      </a>
    </div>
    <div class="fs-person-vitals__fs-person-details">
      <div class="fs-person-details__container">
        <span class="fs-person-details__lifeSpan" ng-if="!options.hideLifeSpan" ng-bind-html="(options.lifeSpan === \'long\') ? person.fullLifeSpan : person.lifeSpan" data-test="lifeSpan"></span>
        <span class="fs-person-details__separator" ng-if="!options.hideLifeSpan && !options.hideId && person.id">&nbsp;•&nbsp;</span>
        <span class="fs-person-details__id" ng-if="!options.hideId && person.id" data-test="pid">{{person.id}}</span>
        <span class="fs-person-details__selection-stopper">&#8203;</span>
      </div>
    </div>
  </div>
</div>